@{
    ViewData["Title"] = "Home Page";
    var punchedInEmployeeId = Context.Session.GetInt32("PunchInEmployeeId"); // استرجاع قيمة الـ Session
}
@{
    Layout = "EmployeeDashboard";
}

@model SpaceSoftSolutions.Models.Employee

<div class="card mb-4">
    <div class="card-header pb-0">
        <h6>Employees Table</h6>
    </div>

    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Full Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                    </tr>
                </thead>
                <tbody>
                  
                        <tr>
                            <td>
                                <h6 class="mb-0 text-sm">@Model.Name</h6>
                            </td>
                            <td>
                            <p class="text-xs text-secondary mb-0">@Model.Email</p>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex flex-wrap justify-content-center gap-2">
                                @if (punchedInEmployeeId == Model.Id)
                                    {
                                        <button class="btn btn-success btn-sm" disabled>Punch In</button>
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("PunchIn", "atendesncc", new { id = Model.Id })" class="btn btn-success btn-sm">Punch In</a>
                                    }

                                <a href="@Url.Action("PunchOut", "atendesncc", new { id = Model.Id })" class="btn btn-danger btn-sm">Punch Out</a>
                                </div>
                            </td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>