@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.Error != null)
{
    <div style="color: red; font-weight: bold;">@ViewBag.Error</div>
}

@if (ViewBag.Success != null)
{
    <div style="color: green; font-weight: bold;">@ViewBag.Success</div>
}

<form method="post">
    <div class="d-flex w-100 justify-content-center flex-column align-items-center gap-3">
        <div class="w-50">
            <label>Old Password:</label>
            <input type="password" name="OldPassword" required />
        </div>

        <div class="w-50">
            <label>New Password:</label>
            <input type="password" name="NewPassword" required />
        </div>
        <div class="w-50">
            <label>Confirm New Password:</label>
            <input type="password" name="ConfirmPassword" required />
        </div>
        <div class="w-50 d-flex justify-content-center">
            <button class="btn " type="submit">Reset Password</button>

        </div>


    </div>
    

  

    

</form>
